.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  width: 880px;
  margin: 0 auto 36px;
  padding-top: 45px;
}

@media screen and (max-width: 900px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 320px;
    margin: 0 auto 40px;
    padding-top: 28px;
  }
}