.popup-zoom__subtitle {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 12px;
  color: #FFFFFF;
  margin: 0 auto 0 0;
}