.popup__fieldset-error_active {
  display: block;
  position: absolute;
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #FF0000;
}

.popup__fieldset-error_active:not(:first-child) {
  margin-top: 88px;
}

.popup__fieldset-error_active:not(:last-child) {
  margin-top: 30px;
}